/* ستايلات عامة */
body {
  font-family: Arial, sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* الحاوية الرئيسية التي تحتوي على الأقسام */
.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

/* القسم الأيسر الذي يحتوي على الكانفا */
.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* القسم الأيمن الذي يحتوي على الفورم */
.right-section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* تنسيق الفورم */
.form-container {
  display: flex;
  flex-direction: row;
}

.form-row-single {
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
